<div class="container">
  <%= link_to @spotify_url do %>
    <div class="btn btn-success" id="spotify-auth">SPOTIFY</div>
  <% end %>
  <div class="btn btn-primary" id="deezer-auth">DEEZER</div>
</div>
