// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "icons";
@import "playlist-row";
@import "search";
@import "loader";

.container {
  padding-right: 5vw;
  padding-left: 5vw;
}

.inner-shadow {
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
