<div class="container">
  <h1>(2/3) Select the destination App</h1>

  <% unless @user.connector == 'spotify' %>
    <%= link_to convert_playlist_path(info: { playlist_id: @playlist_id, destination: 'spotify'}) do %>
      <div class="btn btn-success">Spotify</div>
    <% end %>
  <% end %>

  <% unless @user.connector == 'deezer' %>
    <%= link_to convert_playlist_path(info: { playlist_id: @playlist_id, destination: 'deezer'}) do %>
      <div class="btn btn-success">Deezer</div>
    <% end %>
  <% end %>

</div>
